@charset "UTF-8";
/* ================================================
			Responsive Queries
	=============================================== */
	
 @media only screen and (min-width: 768px) {
	
header,
img.index-img {
	height: 80px;
	}
	
img.index-img {
	float: left;
	margin-left: 1%;
	}

img.about-img {
	height: 300px;
	width: 300px;
	}
	
nav > a > h1 {
	font-size: 2em;
	}

nav li {
	display: inline-block;
	margin-left: 7%;
	padding: 10% 0;
	}
	
nav ul {
	float: right;
	width: 40%;
	}
	
nav h1 {
	display: block;
	margin: 0;
	text-shadow: 1px 1px 1px #159F5F;
	font-size: 1.25em;
	float: left;
	}
	
div.index-wrap > section {
	top: 55%;
	max-width: 500px;
	}
	
} 

@media only screen and (min-width: 1000px) {
	
.wrap {
	max-width: 980px;
	margin-top: 5%;
	}
	
nav li {
	padding: 5.5% 0;
	}
	
img.about-img,
.desktop-left {
	float: left;
	}
	
/* About page */

img.about-img {
	margin: 3%;
	}

article {
	padding: 8%;
	}
	
.cf:before,
.cf:after {
    content: " "; /* 1 */ 
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Contact Page */

.desktop-left {
	margin: 0 0 5% 10%;
	}
.desktop-right {
	float: right;
	margin-right: 15%;
	}
	
div.desktop-right > section {
	width: 400px;
	}
	
section > a {
	padding: 0 15%;
	}
	
div.index-wrap > section {
	top: 25%;
	}

a[href*="facebook"],
a[href*="twitter"] {
	padding: 0;
	margin: 0 5%;
	}

a[href*="facebook"] {
	margin-left: 28%;
	}
	
}

@media only screen and (min-width: 1200px) {
	div.index-wrap > section {
	top: 5%;
	}
}/* CSS Document */

