/* -------------------------------------------------------------------
				Norgren Designs v2.0
   -------------------------------------------------------------------  */

/* Rebuild of Norgren Designs. With final design agreed on, this version is
a mobile first build intended as the production version. See github @therealbwynn
for updates/commits and reference. */

/* Title: Norgren Designs */
/* Author: Brian Wynn */
/* URL: www.norgrendesigns.com */


/* Author's Note:
Norgren Designs was built as a mobile-first website. All styles are oriented based off of a
mobile oriented design in a portrait layout. Media queries are added as the viewport size
increases. */


/* ------------------  Global Elements   -----------------------------  */
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}

html, body, footer {
	width: 100%;
}

body {
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 18px;
}

ul {
	list-style-type: none;
}

.nav-line,
#logo-wrap {
	margin: 0 auto;
	}

/* ------------------  Header Elements -------------------------------  */
header#globalHeader {
	height: 3em;
	overflow: hidden;
}

div#logo-wrap, header#globalHeader > nav {
	height: inherit;
}

div#logo-wrap, header#globalHeader > nav, figure#headerIcon, div#logo-wrap h1, header#globalHeader > nav > ul > li {
	display: inline-block;
}

div#logo-wrap {
	width: 66%;
}

header#globalHeader > nav {
	width: 33%;
}

header#globalHeader > nav > ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 1.5em;
}

header#globalHeader > nav > ul > li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

header#globalHeader > nav > ul > li > a {
	display: block;
	text-align: center;
}

div#logo-wrap, figure#headerIcon, div#logo-wrap h1 {
	float: left;
}

div#logo-wrap h1 {
	margin-top: .2em;
}

figure#headerIcon {
	background-image: url("../img/logo_grey.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.logo {
	height: 100%;
	width: 3em;
}


/* ------------------  Content Elements ------------------------------  */
#contentSection {
	background-color: #999;
	overflow: hidden;
}

#contentSection, #homePageContent {
	height: 80%;
}

#homePageContent {
	width: 60%;
	margin: 0 auto;
	position: relative;
	top: 10%;
	background-color: #fff;
	opacity: .9;
	box-shadow: 2px 2px 10px #666;
}

#homePageContent h1 {
	text-align: center;
	padding: 1em 0;
}

/* ------------------  Footer Elements -------------------------------  */
footer {
	position: absolute;
	bottom: 0;
}

footer p {
	text-align: center;
	margin-bottom: .6em;
}
