/* -------------------------------------------------------------------  
				Norgren Designs v2.0
   -------------------------------------------------------------------  */
   
/* Rebuild of Norgren Designs. With final design agreed on, this version is 
a mobile first build intended as the production version. See github @therealbwynn
for updates/commits and reference. */

/* Title: Norgren Designs */
/* Author: Brian Wynn */
/* URL: www.norgrendesigns.com */


/* Author's Note:
Norgren Designs was built as a mobile-first website. All styles are oriented based off of a 
mobile oriented design in a portrait layout. Media queries are added as the viewport size
increases. */


/* ------------------  Global Elements   -----------------------------  */ 

html {
	width: 100%;
	}
	
a,
#logo-wrap > a > img,
label,
input,
textarea,
button {
	display: block;
	}
	
#logo-wrap,
#logo-wrap > a > img,
section,
form,
input,
textarea,
.wrap-bg {
	margin: 0 auto;
	}
	
h1,
li,
footer > p {
	text-align: center;
	}
	
nav {
	height: inherit;
	}
	
h1,
p,
ul,
form > h1 {
	margin: 0;
	}
	
ul {
	padding: 0;
	}
	
a {
	text-decoration: none;
	}
	
footer p:before,
footer p:after {
	display: inline-block;
	}
	
body {
	font-family: 'Lato', sans-serif;
	}

	
/* ================================================================= 
						  Page Styles 
   ================================================================= */
   
/* --------------------   Colors  ---------------------------------- */

html,
header,
footer {
	background: #fafbfa;
	}
	
nav h1, 
footer p,
.active,
a:hover {
	color: #377F5E;
	}

a {
	color: #555;
	}

/* --------------------   Header Section  -------------------------- */

header {
	height: 300px;
	border-bottom: 1px solid #999;
	}
	
#logo-wrap {
	width: 320px;
	}
	
#logo-wrap > a > img {
	height: 150px;
	}
	
nav h1 {
	font-family: 'Sorts Mill Goudy', serif;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 1px;
	}
	
nav > ul {
	margin-top: 18px;
	}
	
nav > ul > li {
	padding: 4px;
	}
	
/* Body */

.wrap-bg {
	background: url('../img/banner-header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	}
	
section {
	width: 95%;
	}
	
/* Footer */
footer {
	height: 75px;
	border-top: 1px solid #999;
	}
	
footer p {
	padding-top: 2em;
	}

footer p:before,
footer p:after {
	content: "";
	height: 7px;
	width: 7px;
	background: #377F5E;
	border-radius: 50%;
	margin: 2px 10px;
	}
	
/* -----------------------------------------------------------
					Contact Page
	---------------------------------------------------------- */
	
form {
	width: 300px;
	padding: 20px 20px 5px;
	box-sizing: border-box;
	background: hsla(120, 5%, 30%, 0.5);
	position: relative;
	top: 3%;
}
	
textarea,
button {
	border: none;
	}
	
label {
	padding: 2%;
	}
	
button {
	height: 30px;
	margin: 2em auto;
	}
	
label,
button {
	font-size: 1.25em;
	}
	
input[type^="text"],
textarea,
button {
	width: 95%;
	}
	

	
