<!doctype html>
<html ng-app="ndApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Norgren Designs</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-route.js"></script>

    <script src="public/js/app.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="public/css/style.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70492043-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>
    <div id="nd">

      <!-- header -->
      <header id="globalHeader" ng-include="views/header.html"></header>

       <div class="background-array">
         <figure></figure>
         <figure></figure>
         <figure></figure>
         <figure></figure>
         <figure></figure>
         <figure></figure>
         <figure></figure>
         <figure></figure>
         <figure></figure>
       </div>

       <div id='contentSection'>
         <!-- section views -->
       </div>

       <div class='nav-background'></div>

    </div>
    <footer>
      <p class="copy-footer">&copy; <span></span> Norgren Designs</p>
    </footer>
</body>
</html>
