<section id='aboutPageContent'>
  <div class="page-wrap">
    <div class="about-heading">
      <h2>About Norgren Designs</h2>
    </div>
    <div class="row employee-profile" ng-repeat="employee in employees">
      <div class="profileBox">
        <img class="portrait img" ng-class="employee.class" ng-src="{{employee.image.url}}">
      </div>
      <div class="employeeDetails">
        <h2>{{employee.name}}</h2>
        <h3>{{employee.title}}</h3>
        <p>{{employee.bio}}</p>
      </div>
      <span class="row-separator"></span>
    </div>

  </div>
 </section>
