/* ------------------ Background Array ------------------------------- */
div.background-array {
	width: 100%;
	max-width: 1440px;
	position: relative;
	top: -4px;
	background-color: #333;
	@include flex-row;
	@include align-center;
}

div.background-array figure {
	min-height: 350px;
	min-width: 32%;
	width: 33%;
	display: inline-block;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-align-self: flex-start;
	align-self: flex-start;
	background-size: cover;
	background-position: center;
	@include medium {
		min-width: 49%;
		width: 50%;
	}
	@include small {
		min-width: 100%;
	}
	&.bolt {
		@include screens {
			background-image: url("../img/array_bolt.jpg");
		}
		@include retina {
			background-image: url("../img/array_bolt_2x.jpg");
		}
	}
	&.cable {
		@include screens {
			background-image: url("../img/array_cable.jpg");
		}
		@include retina {
			background-image: url("../img/array_cable_2x.jpg");
		}
	}
	&.card {
		@include screens {
			background-image: url("../img/array_card.jpg");
		}
		@include retina {
			background-image: url("../img/array_card_2x.jpg");
		}
	}
	&.circuitboard {
		@include screens {
			background-image: url("../img/array_circuitboard.jpg");
		}
		@include retina {
			background-image: url("../img/array_circuitboard_2x.jpg");
		}
	}
	&.coffee {
		@include screens {
			background-image: url("../img/array_coffee.jpg");
		}
		@include retina {
			background-image: url("../img/array_coffee_2x.jpg");
		}
	}
	&.cylinder {
		@include screens {
			background-image: url("../img/array_cylinder.jpg");
		}
		@include retina {
			background-image: url("../img/array_cylinder_2x.jpg");
		}
	}
	&.hardware {
		@include screens {
			background-image: url("../img/array_hardware.jpg");
		}
		@include retina {
			background-image: url("../img/array_hardware_2x.jpg");
		}
	}
	&.input {
		@include screens {
			background-image: url("../img/array_input.jpg");
		}
		@include retina {
			background-image: url("../img/array_input_2x.jpg");
		}
	}
	&.prototypes {
		@include screens {
			background-image: url("../img/array_prototypes.jpg");
		}
		@include retina {
			background-image: url("../img/array_prototypes_2x.jpg");
		}
	}
}
