/* -------------------------------------------------------------------
				Norgren Designs v2.0
   -------------------------------------------------------------------  */

/* Title: Norgren Designs */
/* Author: Brian Wynn */
/* URL: www.norgrendesigns.com */


/* Author's Note:
Norgren Designs was built as a mobile-first website. All styles are oriented based off of a
mobile oriented design in a portrait layout. Media queries are added as the viewport size
increases. */

// variables

$dark-grey: #222;
$white: #FCFCF8; // slightly off white
$content-min: 450px;
$header-size: 4em;
$min-height: 1050px;

// viewports
$large: 1100px;
$medium: 800px;
$small: 500px;

// mixins
@mixin flex {
	-webkit-display: flex;
	display: flex;
}

@mixin flex-row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

@mixin align-center {
	-webkit-align-items: center;
	align-items: center;
}

@mixin retina {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
		@content;
	}
}

@mixin screens {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1),
	only screen and (min--moz-device-pixel-ratio: 1),
	only screen and (min-device-pixel-ratio: 1),
	only screen and (min-resolution: 96dpi),
	only screen and (min-resolution: 1dppx) {
		@content;
	}
}

@mixin large {
	@media (max-width: #{$large}) {
		@content;
	}
}

@mixin medium {
	@media (max-width: #{$medium}) {
		@content;
	}
}

@mixin small {
	@media (max-width: #{$small}) {
		@content;
	}
}


// import scss modules
@import "global";
@import "header";
@import "content";
@import "background";
