<button class="btn btn-success" ng-click="toggleForm()">Add Employee</button>
<form class="form" novalidate ng-show="showEmployeeForm">
  <div class="form-group">
    <label for="name">Employee's Name</label>
    <input type="text" class="form-control" ng-model="name">
  </div>
  <div class="form-group">
    <label for="title">Employee's Title</label>
    <input type="text" class="form-control" ng-model="title">
  </div>
  <div class="form-group">
    <label for="name">Employee's First Name</label>
    <input type="text" class="form-control" ng-model="class">
  </div>
  <div class="form-group">
    <label for="name">Employee's Bio</label>
    <input type="text" class="form-control" ng-model="bio">
  </div>
  <div class="form-group">
    <label for="image">Upload Image</label>
    <button class="btn btn-success" ng-click="upload()">Find Image</button>
  </div>
  <img src="{{newImage.url}}" height="200" width="200" class="img" background-position="contain"/>
  <button class="btn btn-primary" ng-click="addEmployee()">Submit</button>
</form>

<div class="row well" ng-repeat="employee in employees">
  <div class="profileBox">
    <img class="portrait img" src="{{employee.image.url}}">
    <div class="employeeDetails">
      <h4>{{employee.name}}</h4>
      <p>{{employee.title}}</p>
    </div>
  </div>
  <p>{{employee.bio}}</p>
  <button class="btn btn-success" ng-click="toggleForm()">Edit Employee Details</button>
  <span class="row-separator"></span>
  <form class="form" novalidate ng-show="showEmployeeForm">
    <div class="form-group">
      <label for="name">Employee's Name</label>
      <input type="text" class="form-control" ng-model="employee.name">
    </div>
    <div class="form-group">
      <label for="title">Employee's Title</label>
      <input type="text" class="form-control" ng-model="employee.title">
    </div>
    <div class="form-group">
      <label for="name">Employee's First Name</label>
      <input type="text" class="form-control" ng-model="employee.class">
    </div>
    <div class="form-group">
      <label for="name">Employee's Bio</label>
      <input type="text" class="form-control" ng-model="employee.bio">
    </div>
    <div class="form-group">
      <label for="image">Employee Image</label>
      <img src="{{newImage}}" class="img"/>
      <button class="btn btn-success" ng-click="upload()">Change Image</button>
    </div>
    <button class="btn btn-primary" ng-click="updateEmployee(employee)">Update Employee</button>
    <button class='btn btn-primary' ng-click="deleteEmployee(employee)">Delete Employee</button>
  </form>
</div>
