<!doctype html>
<html ng-app="ndAdminApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <base href="/admin">
    <title>Norgren Designs Admin</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'/>
    <link rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="css/admin/style.css"/>

</head>

<body ng-controller="MainController">
  <div class="panel panel-header">
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav" ng-hide="loggedIn">
        <li><a href="/admin/login">Log In</a></li>
        <li><a href="/">Main Site</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-show="loggedIn">
        <li><a href="/admin/messages">Admin Home/Messages</a></li>
        <li><a href="/admin/main">Home Page</a></li>
        <li><a href="/admin/services">Services Page</a></li>
        <li><a href="/admin/about">Employees Page</a></li>
        <li><a href="/admin/login" ng-click="logout()">Log Out</a></li>
      </ul>
    </nav>
  </div>

  <div ng-view class="container"></div>

  <!-- libraries -->
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular-route/angular-route.min.js"></script>
  <script src="libs/angular-ui/build/angular-ui.min.js"></script>
  <script src="libs/filepicker-js/filepicker.js"></script>
  <script src="libs/angular-filepicker/dist/angular_filepicker.js"></script>

  <!-- app scripts -->
  <!-- controllers -->
  <script src="js/admin/controllers/MainCtrl.js"></script>
  <script src="js/admin/controllers/AdminAboutCtrl.js"></script>
  <script src="js/admin/controllers/AdminMainCtrl.js"></script>
  <script src="js/admin/controllers/AdminMsgCtrl.js"></script>
  <script src="js/admin/controllers/AdminServiceCtrl.js"></script>
  <script src="js/admin/controllers/loginCtrl.js"></script>
  <!-- services/factories -->
  <script src="js/admin/services/AdminService.js"></script>
  <script src="js/services/adminServices.js"></script>
  <!-- routes -->
  <script src="js/admin/appRoutes.js"></script>
  <!-- app -->
  <script src="js/admin/app.js"></script>

</body>
</html>
