<div class="row well" ng-repeat="service in services track by $index">
  <h3>{{service.title}}</h3>
  <ul>
    <li ng-repeat="item in service.items track by $index">{{item}}</li>
  </ul>
  <button class="btn btn-default">Edit Service</button>
  <button class="btn btn-primary" ng-click="deleteService(service._id)">Remove Service</button>
</div>
<div class="serviceForm" ng-show="showForm">
  <form class="form" novalidate>
    <div class="form-group" ng-show="!serviceTitle">
      <label>Service Headline</label>
      <input type="text" class="form-control" ng-model="title" required/>
    </div>
    <button class="btn btn-primary" ng-click="addService()">Add Services</button>
    <div ng-show="showItemForm">
      <div class="form-group">
        <label>Service</label>
        <input type="text" class="form-control" ng-model="newItem" required/>
      </div>
      <button class="btn btn-primary" ng-click="addItem()">Add Item</button>
      <div class="service-items form-group">
        <ul>
          <li ng-repeat="detail in serviceItems">{{detail}}</li>
        </ul>
      </div>
      <button class="btn btn-primary" ng-click="addServiceItems()">Submit</button>
    </div>
  </form>
</div>
<button class="btn btn-success" ng-click="toggleForm()" ng-hide="showForm">New Service</button>
